            <%include header.html%>
           <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        文章列表
                        <small>文章</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="http://localhost/blog/admin/index.php"><i class="fa fa-dashboard"></i> 管理中心</a></li>
                        <li><a href="http://localhost/blog/admin/article.php">文章</a></li>
                        <li class="active">文章列表</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                    <a href="http://localhost/blog/admin/article.php?a=add" class="btn btn-default pull-right">添加文章</a>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>标题</th>
                                                <th>状态</th>
                                                <th>创建时间</th>
                                                <th>所属分类</th>
                                                <th style="width: 20%">操作</th>
                                             </tr>
                                            <% data.forEach(function(item,index){ %>
                                            <tr>
                                                <td style="width: 10px"><%= index+1 %></td>
                                                <td><%= item.title %></td>
                                                <td>已发布</td>
                                                <td><%= item.time.toLocaleString() %></td>
                                                <td><%= item.cat %></td>
                                                <td style="width: 20%">
                                                    <a href="/admin/posts/edit?id=<%= item._id %>" class="btn btn-default" title="编辑"><span class="fa fa-edit"></span> 编辑</a>
                                                    <a href="/admin/posts/delete?id=<%= item._id %>" class="btn btn-default" title="删除" onclick="return confirm('是否删除？');"><span class="fa fa-trash-o"></span> 删除</a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                                                    </div>
                            </div>

                        </div>
                    </div>
                </section><!-- /.content -->

                <%include footer.html%>
    </body>
</html>